<button (click)="Add()" >Add</button>
<form [formGroup]="formQuest" (ngSubmit)="onSubmit()">
  <div *ngFor="let quest of ListQuestions; let i = index">
    <label>{{ quest.descripcion }}</label><br>
    <div formArrayName="preguntas">
      <div [formGroupName]="i">
        <input formControlName="pregunta" *ngIf="quest.id != 6" type="text" />

        <select formControlName="pregunta" *ngIf="quest.id == 6">
          <option value="">Selecciona...</option>
          <option *ngFor="let ofi of ListOficinas" [value]="ofi.nombre">{{ofi.nombre}}</option>
        </select>

      </div>
    </div>
    
  </div>
  <button type="submit">Enviar</button>

</form>

